services:

  # MariaDB Container
  database:
    image: mariadb:latest
    hostname: glpi-database
    environment:
      - MARIADB_ROOT_PASSWORD=${DB_ROOT_PASSWORD}
      - MARIADB_DATABASE=${DB_DATABASE}
      - MARIADB_USER=${DB_USER}
      - MARIADB_PASSWORD=${DB_PASSWORD}
    volumes:
      - glpi_database:/var/lib/mysql
    restart: unless-stopped
  # ports:
  #   - "${DB_PORT}:3306"

  # GLPI Container with PHP-FPM
  glpi-fpm:
    build: .
    image: jarbelix/glpi-fpm:latest
    hostname: glpi-fpm
    environment:
      - GLPI_LANG=${GLPI_LANG}
      - GLPI_AUTO_INSTALL=${GLPI_AUTO_INSTALL}
      - GLPI_AUTO_UPDATE=${GLPI_AUTO_UPDATE}
      - GLPI_DB_HOST=${DB_HOST}
      - GLPI_DB_USER=${DB_USER}
      - GLPI_DB_PASSWORD=${DB_PASSWORD}
      - GLPI_DB_NAME=${DB_DATABASE}
      - GLPI_DB_PORT=${DB_PORT}
    volumes:
      - glpi_home:/var/www/glpi # Access to GLPI files
      - glpi_data:/var/glpi # GLPI Data Directory
      - ./custom-php.ini:/etc/php.d/custom-php.ini # PHP Configurations
      - ./info.php:/var/www/glpi/public/info.php # Remove this line to disable info.php in production
      - ./local_define.php:/var/www/glpi/config/local_define.php # Custom GLPI directories
    restart: unless-stopped
    depends_on:
      - database

  # Nginx Container - Web server Nginx
  nginx:
    image: nginx:latest
    hostname: glpi-nginx
    volumes:
      - glpi_home:/var/www/glpi:ro # Access to GLPI files
      # - glpi_data:/var/glpi:ro # GLPI Data Directory
      - ./custom-nginx.conf:/etc/nginx/conf.d/default.conf # Nginx Configurations
      - ./nginx.crt:/etc/nginx/ssl/nginx.crt
      - ./nginx.key:/etc/nginx/ssl/nginx.key
    restart: unless-stopped
    depends_on:
      - glpi-fpm
    ports:
      - "${HTTP_PORT}:80"
      - "${HTTPS_PORT}:443"

volumes:
  glpi_database:
  glpi_home:
  glpi_data:
