# Database
DB_TYPE="mariadb"
DB_HOST="database"
DB_ROOT_PASSWORD="MariaDB_root_Password"
DB_DATABASE="glpi_db"
DB_USER="glpi_user"
DB_PASSWORD="glpi_password"
DB_PORT=3306

# Web Service Nginx
HTTP_PORT=80
HTTPS_PORT=443

# Timezone
TIMEZONE="America/Sao_Paulo"

# GLPI Language Default
GLPI_LANG="pt_BR"

