MARIADB_ROOT_PASSWORD="Senha_do_MariaDB_root"
MARIADB_DATABASE="glpi_db"
MARIADB_USER="glpi_user"
MARIADB_PASSWORD="glpi_password"

TIMEZONE="America/Sao_Paulo"
UPLOAD_MAX_FILESIZE="100M"
POST_MAX_FILESIZE="50M"
